{
	email {$ACME_EMAIL}

	on_demand_tls {
		ask {$CADDY_ASK_URL}
	}
}

https:// {
	tls {
		on_demand
	}

	encode zstd gzip

	@health path /health
	handle @health {
		reverse_proxy backend:4000
	}

	@api path /api/*
	handle @api {
		reverse_proxy backend:4000
	}

	root * /srv
	try_files {path} /index.html
	file_server
}
